<div id="{{ app_parent_id }}" class="{{ ps_version }}">
  <div id="{{ page_parent_id }}">
    {% include "@ModuleAutoUpgrade/pages/" ~ page ~ ".html.twig" %}
  </div>
  <div id="{{ dialog_parent_id }}"></div>
</div>
